@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;;
}

@theme{
    --color-primary: #22398c;
    --color-primary-dull: #554ca1;
}

body {
  background-color: #cacdd3;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}